version: "3.9"

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: kbo
      POSTGRES_PASSWORD: kbo
      POSTGRES_DB: kbo_db
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
